<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="f-info-brand"> &copy; Wonderlust Private limited</div>
        <div class="f-info-link">
            <a href="/privacy" id="abc">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>